.orders-mainContainer {
  height: 100%;
  width: 100%;
  margin-bottom: 2rem;
  font-family: "Libre Franklin";
  padding-top: 10rem;
}
.orders-container {
  max-width: 1340px;
  margin: auto;
  display: flex;
  gap: 2rem;
}
.orders-leftContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid var(--cloudGray); */
  padding: 1rem 2rem;
}
.orders-rightContainer {
  width: 70%;
  height: 100%;
  padding: 1rem 2rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
.orders-Header {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--ashGray);
  margin-bottom: 1rem;
}
.orders-borderContainer {
  border: 1px solid var(--cloudGray);
  border-radius: 5px;
  margin-bottom: 1rem;
}
.orders-justifyContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--powderWhite);
  border-bottom: 1px solid var(--cloudGray);
  padding: 0.75rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.orders-flexContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orders-text {
  font-size: 0.8rem;
  font-weight: 500;
  color: var(--ashGray);
  text-transform: uppercase;
}
.orders-date {
  font-size: 0.95rem;
  font-weight: 600;
  color: var(--ashGray);
  font-family: "Libre Franklin";
}
.orders-bill {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--ashGray);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.orders-idText {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--ashGray);
}
.orders-details {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.orders-detailsFlex {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}
.orders-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.orders-productName {
  font-size: 1rem;
  font-weight: 500;
  color: var(--neutralBlack);
}
.orders-button {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--white);
  padding: 0.25rem 0.75rem;
  border: 1px solid var(--crimsonPink);
  color: var(--crimsonPink);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
.orders-button:hover {
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  border: 1px solid var(--crimsonPink);
}
.orders-gapContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.orders-buttonsRight {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--crimsonPink);
  padding: 0.25rem 0.75rem;
  background-color: var(--powderWhite);
  border-radius: 5px;
  border: 1px solid var(--cloudGray);
}
.orders-buttonsRight:hover {
  color: var(--powderWhite);
  background-color: var(--crimsonPink);
  /* border-radius: 5px; */
  border: 1px solid var(--crimsonPink);
}
.orders-billText {
  cursor: pointer;
  font-size: 0.85rem;
  color: var(--azureBlue);
}
.orders-billText:hover {
  text-decoration: underline;
}
.orders-shipToText {
  color: var(--azureBlue);
  font-weight: 500;
  text-transform: capitalize;
}
