.orders-mainContainer {
  height: 100%;
  width: 100%;
  margin: 2rem 0;
}
.orders-container {
  max-width: 1240px;
  margin: auto;
  display: flex;
  gap: 2rem;
}
.orders-leftContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 1px solid #f1f1f1;
  padding: 1rem 2rem;
}
.orders-rightContainer {
  width: 70%;
  height: 100%;
  /* border: 1px solid #0f382c; */
  padding: 1rem 2rem;
  flex-direction: column;
  display: flex;
  gap: 1rem;
}
.orders-Header {
  font-size: 2rem;
  font-weight: 500;
}
.orders-borderContainer {
  border: 1px solid #c1c1c1;
  border-radius: 5px;
}
.orders-justifyContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #f1f2f3;
  border-bottom: 1px solid #c1c1c1;
  padding: 0.75rem 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.orders-flexContainer {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orders-text {
  font-size: 0.85rem;
  font-weight: 500;
  color: #787c7d;
  text-transform: uppercase;
}
.orders-date {
  font-size: 0.95rem;
  font-weight: 500;
  color: #787c7d;
}
.orders-bill {
  font-size: 0.95rem;
  font-weight: 500;
  color: #787c7d;
  display: flex;
  gap: 1rem;
}
.orders-idText {
  font-size: 0.85rem;
  font-weight: 500;
  color: #787c7d;
  display: flex;
  gap: 1rem;
}
.orders-details {
  padding: 1.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.orders-detailsFlex {
  display: flex;
  /* align-items: center; */
  gap: 2rem;
}
.orders-image {
  width: 120px;
  height: 120px;
  object-fit: cover;
}
.orders-productName {
  font-size: 1rem;
  font-weight: 500;
  color: black;
}
.orders-button {
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  padding: 0.25rem 0.75rem;
  background-color: #0f382c;
  border-radius: 5px;
  border: none;
}
.orders-gapContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.orders-buttonsRight {
  font-size: 0.85rem;
  font-weight: 600;
  color: #0f382c;
  padding: 0.25rem 0.75rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}
.orders-buttonsRight:hover {
  color: white;
  background-color: #0f382c;
  /* border-radius: 5px; */
  border: 1px solid #0f382c;
}
