.favorites-mainContainer {
  width: 100%;
  height: 100%;
  max-width: 1240px;
  margin: auto;
  padding-top: 10rem;
  font-family: "Libre Franklin";
}
.favorites-title {
  font-size: 1.5rem;
  font-weight: 600;

  text-transform: uppercase;
  padding-top: 1rem;
}
.wishlist-title {
  font-size: 2rem;
  font-weight: 600;

  color: var(--ashGray);
}
.favorites-gridContainer {
  display: grid;
  /* margin-left: 0.75rem;
  margin-right: 0.75rem; */
  grid-template-columns: repeat(5, minmax(0, 1fr));
  padding: 1.25rem 0;
  /* padding-bottom: 2rem; */
  gap: 1.25rem;
}
.favorites-cardWrapper {
  position: relative;
  /* height: 370px; */
  border: 1px solid var(--cloudGray);
  border-radius: 5px;
  padding: 0.75rem;
}
.favorites-cardContainer {
  cursor: pointer;
  background-color: var(--white);
  position: relative;
  transition: 0.3s ease-in-out;
}
.wishlist-cardContainer {
  height: 200px;
  /* padding: 0.75rem; */
  border-radius: 5px;
  border: 1px solid var(--cloudGray);
  cursor: pointer;
  background-color: var(--white);
  position: relative;
  z-index: 100;
  transition: 0.3s ease-in-out;
}
/* .favorites-cardContainer:hover {
  scale: 1.03;
} */
.favorites-image {
  height: 60%;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 0.75rem;
  object-fit: cover;
}
.favorites-productName {
  font-size: 1.2rem;
  font-weight: bold;

  color: var(--neutralBlack);
  padding: 0 0.5rem;
  text-transform: capitalize;
}
.favorites-productPrice {
  padding: 0 0.5rem;
  font-size: 1.2rem;
  font-weight: 500px;

  color: var(--neutralBlack);
}
.favorites-button {
  width: 100%;
  border: 2px solid var(--cloudGray);
  border-radius: 5px;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 0.5rem 0;
  margin-bottom: 0.25rem;
}
.favorites-button:hover {
  background-color: var(--crimsonPink);
  color: var(--white);
}

.favorites-trashIcon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: var(--lightGray);
  color: var(--crimsonPink);
  cursor: pointer;
  transition: 0.2s ease;
}
.favorites-trashIcon:hover {
  scale: 1.05;
}
.favorites-flexContainer {
  display: flex;
  /* gap: 1rem; */
  align-items: center;
}
.favorites-mrpPrice {
  font-size: 0.85rem;
  font-weight: 500px;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--coinGray);
  text-decoration: line-through;
}
.wishlist-addToCartButton {
  width: 90%;
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 0;
  border-radius: 5px;
  margin-top: 0.5rem;
  position: absolute;
}
.wishlist-imageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  font-family: "Libre Franklin";
}
.wishlist-image {
  width: 30%;
  height: 30%;
  mix-blend-mode: multiply;
  object-fit: cover;
}
.wishlist-text {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: var(--ashGray);
}
