.products-container {
  height: 100%;
  width: 100%;
}

.products-marginContainer {
  max-width: 1240px;
  margin: auto;
}

.products-box {
  display: grid;
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1.25rem;
}

.products-card {
  padding: 0.5rem;
  border-radius: 0.25rem;
  transition-duration: 100ms;
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  border: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}

.products-card:hover {
  scale: 1.03;
  border: 1px solid rgb(3, 170, 3);
}

.products-innerContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.products-image {
  border-radius: 50rem;
}

.products-titleContainer {
  display: flex;
  padding-top: 0.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products-title {
  font-size: 1rem;
  font-weight: 500;
}
