.address-mainContainer {
  max-width: 1240px;
  margin: auto;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.address-header {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--neutralBlack);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 0.75rem;
}
.address-addContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--cloudGray);
  background-color: var(--pearlWhite);
  border-radius: 5px;
  cursor: pointer;
  padding: 0.75rem;
}
.address-addContainer:hover {
  background-color: var(--powderWhite);
}
.address-addText {
  font-size: 1rem;
  font-weight: 500;
  color: var(--neutralBlack);
  font-family: Arial, Helvetica, sans-serif;
}
.address-addressContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  border: 1px solid var(--cloudGray);
  background: var(--pearlWhite);
  padding: 1.25rem;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}

.address-flexTextAlignContainer {
  display: flex;
  justify-content: space-between;
}
.address-titleText {
  background-color: var(--cloudGray);
  color: var(--neutralBlack);
  font-weight: 500;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
}
.address-flexContainer {
  display: flex;
  gap: 1rem;
  padding: 0.25rem 0rem;
}
.address-userName {
  font-size: 1rem;
  font-weight: 500;
  color: var(--neutralBlack);
  font-family: Arial, Helvetica, sans-serif;
}
.address-addressText {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--ashGray);
  font-family: Arial, Helvetica, sans-serif;
}
.address-dropdownContainer {
  position: absolute;
  right: 4%;
  top: 15%;
  border-radius: 5px;
  gap: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}
.address-iconsContainer {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--cloudGray);
  border-radius: 50%;
  color: var(--ashGray);
}
.address-iconsContainer:hover {
  background-color: var(--rosePink);
  color: var(--crimsonPink);
}
