.cart-mainContainer {
  display: flex;
  width: 100%;
  background-color: var(--pearlWhite);
  padding-top: 6rem;
}
.cart-marginContainer {
  gap: 1.5rem;
  max-width: 1240px;
  margin: 5rem auto;
  width: 100%;
  display: flex;
}
.cart-Container {
  width: 100%;
}
.cart-cardContainer {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.cart-card {
  border: 1px solid var(--silverGray);
  padding: 1rem;
  border-radius: 5px;
}
.main-head-title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: "Nunito Sans";
}
.cart-flexContainer {
  display: flex;
  align-items: center;
  padding: 1.5rem;
  gap: 1.75rem;
}
.cart-Image {
  width: 30%;
  height: auto;
}
.cart-titleText {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 0.65rem;
  text-transform: capitalize;
  /* font-family: "Nunito Sans"; */
  font-family: Arial, Helvetica, sans-serif;
}
.cart-productDescription {
  width: 70%;
}
.cart-descriptionText {
  font-size: 16px;
  font-weight: 400;
  color: #a3a3a3;
  text-transform: capitalize;
  font-family: "Nunito Sans";
}
.cart-descriptionTextDark {
  font-size: 1.25rem;
  font-weight: 500;
  margin-top: 0.65rem;
  text-transform: capitalize;
  color: #000;
  font-family: "Nunito Sans";
}
.cart-rightContainer {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 4rem;
}
.cart-billContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
}
.cart-flex {
  display: flex;
  justify-content: space-between;
}
.cart-priceText {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 0.85rem;
  font-weight: 500;
  color: #a3a3a3;
  font-family: "Nunito Sans";
}
.cart-discountText {
  font-size: 0.95rem;
  font-weight: 500;
  color: #0e382c;
  margin-left: 0.25rem;
  font-family: "Nunito Sans";
}
.cart-linethrough {
  text-decoration: line-through;
}
.cart-quantityContainerFlex {
  width: 18%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.cart-quantityContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1.5px solid #0e382c;
  border-radius: 5px;
  /* width: 100%; */
  padding: 0.5rem 0.75rem;
  position: relative;
  cursor: pointer;
}
.cart-removeButtonContainer {
  display: flex;
  justify-content: space-between;
  gap: 0.25rem;
  color: var(--crimsonPink);
  cursor: pointer;
}
.cart-removeText {
  font-size: 0.75rem;
  font-weight: 600;
  /* font-family: "Nunito Sans"; */
  font-family: Arial, Helvetica, sans-serif;
}
.cart-quantity {
  font-weight: 500;
  font-size: 0.9rem;
}

.cart-chevronIcon {
  width: auto;
  margin-left: auto;
}
.cart-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6rem;
  height: 10rem;
  overflow-y: scroll;
  top: 110%;
  right: 1%;
  background-color: white;
  z-index: 50;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 5px;
}

.cart-dropDownQuantity {
  width: 100%;
  border-bottom: 1px solid rgb(243, 243, 243);
  padding: 0.25rem 0.5rem;
}

.cart-dropDownQuantity:hover {
  background-color: rgb(184, 255, 184);
}

.cart-loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cart-savingsText {
  font-family: "Nunito Sans";
}
.cart-savingsContainer {
  display: flex;
  /* height:; */
  border: 1px dotted rgb(32, 169, 32);
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
  gap: 0.75rem;
  background-color: #e3ffe3;
}
.cart-button {
  width: 100%;
  background-color: #0e382c;
  color: white;
  border: 2px solid #0e382c;
  border-radius: 5px;
  font-weight: 600;
  padding: 0.5rem 0.5rem;
  display: flex;
  align-self: center;
  justify-content: center;
  margin: 1rem 0;
  margin-bottom: 0rem;
  cursor: pointer;
  font-family: "Nunito Sans";
}
.cart-button:hover {
  opacity: 0.9;
}
