.coupon-container {
  margin: auto;
  width: 100%;
  max-width: 1240px;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
.card {
  width: 48%;
  height: 220px;
  border-radius: 5px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--powderWhite);
  padding: 2rem;
  position: relative;
  border: 1px solid var(--cloudGray);
}
.coupon-image {
  mix-blend-mode: multiply;
}
.main,
.copy-button {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
}
.card::after {
  position: absolute;
  content: "";
  height: 40px;
  right: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 90px;
  background-color: var(--pearlWhite);
  width: 40px;
  border-left: 1px solid var(--ashGray);
}

.card::before {
  position: absolute;
  content: "";
  height: 40px;
  left: -20px;
  border-radius: 40px;
  z-index: 1;
  top: 90px;
  background-color: var(--pearlWhite);
  width: 40px;
  border-right: 1px solid var(--ashGray);
}

.co-img img {
  width: 100px;
  height: 100px;
}
.vertical {
  border-left: 5px dotted var(--ashGray);
  height: 100px;
  position: absolute;
  left: 40%;
}

.content h1 {
  font-size: 35px;
  margin-left: -20px;
  color: #565656;
}

.content h1 span {
  font-size: 18px;
}
.content h2 {
  font-size: 18px;
  margin-left: -20px;
  color: #565656;
  text-transform: uppercase;
}

.content p {
  font-size: 16px;
  color: #696969;
  margin-left: -20px;
}

.copy-button {
  margin: 12px 0 -5px 0;
  height: 45px;
  border-radius: 4px;
  padding: 0 5px;
  border: 1px solid #e1e1e1;
}

.copy-button input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.25rem;
  font-weight: 600;

  background-color: var(--pearlWhite);
}

.copy-button button {
  padding: 5px 20px;
  background-color: var(--crimsonPink);
  border-radius: 5px;
  color: #fff;
  border: 1px solid transparent;
}

.coupon-note {
  width: 100%;
  margin-top: 0.75rem;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--ashGray);
}

@media (max-width: 400px) {
  .card {
    width: 100%;
    height: 180px;
    padding: 1.5rem;
  }
  .card::after {
    top: 70px;
  }

  .card::before {
    position: absolute;
    content: "";
    height: 40px;
    left: -20px;
    border-radius: 40px;
    z-index: 1;
    top: 90px;
    background-color: var(--pearlWhite);
    width: 40px;
    border-right: 1px solid var(--ashGray);
  }
  .co-img img {
    width: 80px;
    height: 80px;
  }
  .vertical {
    border-left: 3px dotted var(--ashGray);
    height: 50px;
    left: 35%;
  }

  .content h1 {
    font-size: 1rem;
    margin-left: -20px;
    color: #565656;
  }

  .content h1 span {
    font-size: 0.8rem;
  }
  .content h2 {
    font-size: 1rem;
    margin-left: -20px;
    color: #565656;
    text-transform: uppercase;
  }

  .content p {
    font-size: 0.8rem;
    color: #696969;
    margin-left: -20px;
  }

  .copy-button {
    margin: 12px 0 -5px 0;
    height: 40px;
    border-radius: 4px;
    padding: 0 5px;
  }

  .copy-button input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 600;

    background-color: var(--pearlWhite);
  }

  .copy-button button {
    padding: 2px 15px;
    background-color: var(--crimsonPink);
    border-radius: 5px;
    color: #fff;
    border: 1px solid transparent;
  }

  .coupon-note {
    margin-top: 0.5rem;

    font-size: 0.7rem;
  }
}
