.packageOrder-mainFlexContainer {
  display: flex;
  gap: 2rem;
}
.packageOrder-leftContainer {
  width: 60%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.packageOrder-rightContainer {
  width: 35%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.packageOrder-mainContainer {
  max-width: 1340px;
  margin: auto;
  padding-top: 12rem;
  margin-bottom: 2rem;
  font-family: "Libre Franklin";
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.packageOrder-borderContainer {
  border: 1px solid var(--cloudGray);
  padding: 1rem 2rem;
  border-radius: 5px;
}
.packageOrder-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--neutralBlack);
}
.packageOrder-description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--ashGray);
}
.packageOrder-flexContainer {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}
.packageOrder-mrpText {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--ashGray);
}
.packageOrder-discountText {
  font-size: 0.85rem;
  font-weight: 500;
  color: var(--coinGray);
}
.packageOrder-overLine {
  text-decoration: line-through;
}
.packageOrder-separator {
  border: 1px solid var(--cloudGray);
  margin: 1rem 0;
}
.packageOrder-justifyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.packageOrder-button {
  background-color: var(--crimsonPink);
  padding: 0.5rem 1rem;
  color: var(--white);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  transition: 0.2s ease-in-out;
}
.packageOrder-button:hover {
  scale: 1.02;
  opacity: 0.9;
}
.packageOrder-packageFlex {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
.packageOrder-flex {
  display: flex;
  align-items: center;
}
.packageOrder-titleText {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--ashGray);
}
/* .packageOrder-descriptionText {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--neutralBlack);
} */
.packageOrder-detailsContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.packageOrder-labDetailsContainer {
  margin-left: 1.75rem;
}
.packageOrder-subText {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--ashGray);
  text-transform: capitalize;
}
.packageOrder-image {
  width: 28rem;
  height: 28rem;
  position: sticky;
  object-fit: contain;
}
.packageOrder-imageText {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--ashGray);
  text-transform: capitalize;
}
.packageOrder-imageFlex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--cloudGray);
  border-radius: 5px;
  padding: 0.5rem 2rem;
}
