.orderdetails-mainContainer {
  max-width: 940px;
  height: 100%;
  margin: auto;
  padding: 2rem 0;
}
.orderdetails-title {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000;
}
.orderdetails-flexContainer {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.orderdetails-line {
  border: 2px solid #959595;
}
.orderdetails-justifyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderdetails-borderContainer {
  margin: 1rem 0;
  border: 1px solid #dcdcdc;
  padding: 1rem 1rem;
  border-radius: 5px;
}
.orderdetails-borderFlexContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 2rem;
}
.orderdetails-header {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  text-transform: capitalize;
}
.orderdetails-bodyText {
  font-size: 0.9rem;
  font-weight: 400;
  color: #000000;
}
.orderdetails-billJustifyContainer {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  text-transform: capitalize;
}
.orderdetails-hoverFlexContainer {
  font-size: 0.9rem;
  font-weight: 500;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
.orderdetails-hoverFlexContainer:hover {
  color: #b6b6b6;
}
.orderdetails-image {
  height: 100px;
  width: 50%;
}
.orderdetails-button {
  font-size: 0.85rem;
  font-weight: 600;
  color: white;
  padding: 0.25rem 0.75rem;
  background-color: #0f382c;
  border-radius: 5px;
  border: none;
  margin: 0.5rem 0;
}
.orderdetails-buttonsRight {
  font-size: 0.85rem;
  font-weight: 600;
  color: #0f382c;
  padding: 0.25rem 0.75rem;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c1c1c1;
}
.orderdetails-buttonsRight:hover {
  color: white;
  background-color: #0f382c;
  /* border-radius: 5px; */
  border: 1px solid #0f382c;
}
