.user-par{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top:40px
}
#cour-par{
    text-align:center;
    font-size:18px;
    margin:0px 400px;
    margin-bottom:50px;
}
