.addressDrawer-iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
}
.addressDrawer-innerIconContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: var(--cloudGray);
  color: var(--neutralBlack);
  border: 1px solid var(--cloudGray);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Libre Franklin";
  transition: 0.3s ease-in-out;
}
.addressDrawer-selectedInnerIconContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  border: 1px solid var(--crimsonPink);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  font-family: "Libre Franklin";
  transition: 0.3s ease-in-out;
}
.addressDrawer-innerIconContainer:hover {
  background-color: var(--crimsonPink);
  border: 1px solid var(--crimsonPink);
  color: var(--pearlWhite);
}
.addressDrawer-buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}
.addressDrawer-saveButton:hover {
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  scale: 1.02;
}
.addressDrawer-saveButton {
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  border: 1px solid var(--crimsonPink);
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-family: "Libre Franklin";
  transition: 0.3s ease-in-out;
}
.addressDrawer-cancelButton {
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid var(--ashGray);
  color: var(--neutralBlack);
  transition: 0.3s ease-in;
}

.addressDrawer-cancelButton:hover {
  border: 1px solid var(--crimsonPink);
  color: var(--crimsonPink);
  scale: 1.02;
}
.addressDrawer-input {
  height: 5rem;
}
