.addressDrawer-iconContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 500;
}
.addressDrawer-innerIconContainer {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  background-color: var(--cloudGray);
  color: var(--neutralBlack);
  border: 1px solid var(--cloudGray);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.addressDrawer-innerIconContainer:hover {
  background-color: var(--crimsonPink);
  border: 1px solid var(--crimsonPink);
  color: var(--pearlWhite);
}
.addressDrawer-buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
  width: 100%;
  justify-content: space-evenly;
  gap: 1rem;
}
.addressDrawer-saveButton:hover {
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  border: none;
  width: 100%;
  scale: 1.02;
  transition: 0.3s ease-in;
}
.addressDrawer-saveButton {
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  border: none;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.addressDrawer-cancelButton {
  border: 1px solid var(--crimsonPink);
  color: var(--crimsonPink);
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.addressDrawer-cancelButton:hover {
  width: 100%;
  border: 1px solid var(--ashGray);
  color: var(--neutralBlack);
  scale: 1.02;
  transition: 0.3s ease-in;
}
