/* .inner-nav {
  margin: 0px 10px;
  cursor: pointer;
}
.inner-nav:hover {
  color: red;
}
.inner-nav-row {
  margin-left: 40px;
}
.med-row {
  font-weight: bold;
} */
.innerNav-mainContainer {
  max-width: 840px;
  height: 100%;
  margin: auto;

  background-color: var(--pearlWhite);
  width: 100%;
}
.innerNav-flexContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0rem 0rem 0.5rem;
}
.innerNav-bodyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.15rem;
  /* border-bottom: 2px solid #fff; */
  padding: 1rem;
  padding-bottom: 0.25rem;
  color: var(--ashGray);
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
}
.innerNav-bodyContainer::after {
  /* border-bottom: 2px solid var(--crimsonPink); */
  /* scale: 1.1; */
  /* color: var(--crimsonPink); */
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--crimsonPink);
  transform-origin: bottom middle;
  transition: transform 0.2s ease-in;
}
.innerNav-bodyContainer:hover::after {
  transform: scaleX(1);
  transform-origin: bottom middle;
}
.innerNav-bodyContainer:hover {
  color: var(--neutralBlack);
}
