.career-mainContainer {
  max-width: 1240px;
  margin: auto;
  padding-top: 12rem;
  margin-bottom: 2rem;
}
.career-head {
  display: flex;
  align-items: center;
  justify-content: center;
}
.career-head p {
  font-size: 1.1rem;
  font-weight: 500;
  /* font-family: "Nunito sans"; */
  font-family: Arial, Helvetica, sans-serif;
}
.flex-column {
  align-items: center;
  justify-content: center;
}

.career-col {
  width: 50%;
  background-color: var(--powderWhite);
  height: 50vh;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.career-col1 {
  width: 48%;
}
.career-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--neutralBlack);
}
.career-row {
  margin-top: 100px !important;
}
.career-row-para,
.customer-par {
  color: var(--neutralBlack);
  font-weight: 500;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.career-col h1 {
  color: var(--neutralBlack);
  text-align: center;
  padding-top: 15%;
  justify-content: center;
}
.career-col p {
  margin: 20px;
  text-align: center;
}
.career-btn {
  /* width: 25%; */
  background: var(--powderWhite);
  border: 1px solid var(--neutralBlack);
  border-radius: 5px;
  color: var(--neutralBlack);
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
.career-btn:hover {
  color: var(--powderWhite);
  background-color: var(--crimsonPink);
  border: 1px solid var(--crimsonPink);
}
.career-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.career-openings-story {
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  padding: 3rem 0;
  margin: 0 5rem;
}
.career-header {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--neutralBlack);
}
.career-openings {
  margin-top: 60px;
}
.career-h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  color: var(--neutralBlack);
}
.career-h4 {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  color: var(--neutralBlack);
}
.story-row {
  margin: 60px 40px 60px 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.story-col {
  width: 25%;
  /* margin: 20px 30px; */
}
.career-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.career-row-col {
  margin-left: 20px;
  font-size: 32px;
}
.career-row-col1 {
  margin-right: 10px;
  font-size: 32px;
}
.career-customer {
  background-color: var(--powderWhite);
  /* margin:0px 60px */
}
.career-story-col {
  font-weight: bold;
}
.career-learn {
  margin-top: 40px;
}
.career-learn p {
  text-align: center;
  font-size: 26px;
}
.career-learn-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-bottom: 40px;
  margin-top: 40px;
}

.career-customer-learn {
  margin-top: 60px;
  background-color: var(--powderWhite);
}
.career-customer-par {
  font-size: 2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 2rem;
  color: var(--neutralBlack);
}
.career-customer-learn-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 1rem 0;
  gap: 2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--neutralBlack);
}
.career-customer-col {
  margin-right: 10px;
}
.career-customer-learn-col1 {
  margin-left: 160px;
}
.career-customer-learn-btn {
  width: 40%;
  border: none;
  color: #0e382c;
}
.career-customer-learn {
  padding-bottom: 25px;
}
.career-customer p {
  text-align: center;
  padding-top: 35px;
  font-size: 24px;
}
.career-ready {
  margin-top: 40px;
}
.career-ready p {
  font-size: 26px;
  text-align: center;
  margin-top: 20px;
}
.career-ready-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.career-ready-button button {
  border: none;
  background-color: #0e382c;
  color: white;
}
.career-footer {
  margin-top: 30px;
}
