.register-mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--powderWhite);
  height: 100vh;
  font-family: "Libre Franklin";
  position: relative;
}
.register-header {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--neutralBlack);
  font-family: "Libre Franklin";
  margin-bottom: 0.5rem;
}
.register-flexContainer {
  width: 80%;
  height: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--pearlWhite);
  padding: 0rem 1rem;
  border-radius: 5px;
  gap: 1rem;
}
.register-headerContainer {
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
  /* align-items: center; */
  /* justify-content: center; */
}
.register-formContainer {
  width: 100%;
  height: 100%;
  /* background: var(--powderWhite); */
  /* border: 1px solid var(--cloudGray); */
  /* border-radius: 5px; */
  /* transition: all 0.3s; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-leftContainer {
  width: 40%;
}

.register-logo {
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: multiply;
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem 2rem;
  gap: 0.5rem;
  width: 100%;
}
.register-inputField {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form-control {
  border: 1px solid var(--cloudGray);
  width: 18rem;
}
label {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--ashGray);
  margin-bottom: 0.25rem;
}
.form-error {
  font-size: 0.75rem;
  color: red;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}

.forgot-password {
  text-align: right;
  font-size: 0.9rem;
  padding-top: 10px;
  color: var(--ashGray);
  cursor: pointer;
}
.form-control:placeholder-shown {
  padding-left: 0.75rem;
}
.register-button {
  background-color: var(--crimsonPink);
  border: none;
  color: var(--pearlWhite);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 600;
}
.log-login {
  font-size: 0.95rem;
  font-weight: bold;
  color: var(--crimsonPink);
}
.log-login:hover {
  text-decoration: underline;
}
.register-loginImage {
  width: 100%;
  height: 70vh;
  object-fit: contain;
  margin-left: 2rem;
}
/* .forgot {
  text-align: right;
  font-size: 10px;
  margin-top: 10px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
} */

/* #form-login {
  margin-top: 60px;
}
#form-pass {
  margin-top: 15px;
}
#pass-for {
  margin-top: 30px;
}
#form-login1 {
  margin-top: 100px;
} */
/* .inputfield-otp {
  display: flex;
  flex-direction: row;
} */
/* .otp-in {
  width: 50px;
  margin-left: 20px;
  margin-right: 10px;
} */

/* 
.input-height {
  height: 4.5rem;
} */
