.testCard-container {
  font-family: "Libre Franklin";
  position: relative;
  border: 1px solid var(--cloudGray);
  border-radius: 5px;
  padding: 1rem;
  transition: border 0.2s ease-in;
  cursor: pointer;
  width: 98%;
  height: 12rem;
  margin: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.testCard-container:hover {
  border: 1px solid var(--crimsonPink);
}

.testCard-testName {
  font-size: 1.2rem;
  color: var(--ashGray);
  font-weight: 600;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}
.testCard-description {
  font-size: 1rem;
  color: var(--coinGray);
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.2rem;
}
.testCard-report {
  padding: 0.5rem 1rem;
  background-color: rgb(255, 235, 240);
  width: 100%;
  border-radius: 5px;
  text-align: center;
  margin: 0.75rem 0;
}
.testCard-reportText {
  font-size: 0.9rem;
  color: var(--crimsonPink);
  font-weight: 500;
}
.testCard-price {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--ashGray);
  margin-top: 0.5rem;
}
.testCard-selectButton {
  padding: 0.5rem 1rem;
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  font-weight: 500;
  border-radius: 5px;
  width: 8rem;
  right: 1rem;
  bottom: 1rem;
}
.testCard-selectButton:hover {
  opacity: 0.9;
}
.testCard-justifyContainer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: auto; /* Push to the bottom */
}
.testCard-alignColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
