.header {
  background-color: var(--pearlWhite);
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 100;
  width: 100%;
  /* max-width: 1340px; */
  /* margin: auto; */
  font-family: Arial, Helvetica, sans-serif;
}
.headerFlex {
  display: flex;

  justify-content: space-around;
  align-items: center;

  color: var(--neutralBlack);
  height: 70px;
  border-bottom: 1px solid var(--cloudGray);
}
.fixedContainer {
  position: fixed;
}
.sp-opt {
  /* margin-left: 20px; */
  font-size: 16px !important;
}
.prana-logo {
  mix-blend-mode: multiply;
  overflow: hidden;
  cursor: pointer;
}
.par-nav {
  font-size: 1.85rem;
  font-weight: bold;
  /* font-family: "Nunito sans"; */
  font-family: Arial, Helvetica, sans-serif;
  color: var(--crimsonPink);
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--neutralBlack);
  margin-top: 1rem;
  gap: 1rem;
}
.nav_child li {
  padding-right: 20px;
  cursor: pointer;
  color: var(--neutralBlack);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
}
.nav_child li:hover {
  /* padding-right: 20px; */
  /* cursor: pointer; */
  color: var(--crimsonPink);
  scale: 1.05;
}
.download {
  background: var(--crimsonPink);
  color: var(--pearlWhite);
  border-radius: 5px;
  padding: 3px 10px;
  margin-top: 5px;
}
.about {
  color: var(--neutralBlack);
}
.about:hover {
  color: var(--crimsonPink);
  scale: 1.034;
}
a:link {
  color: var(--neutralBlack);
  background-color: transparent;
  text-decoration: none;
}
.inner-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
}
.email {
  position: absolute;
  margin-right: 394px;
  margin-top: 0px;
  /* left: 12; */
  /* right: 20; */
}
.input-field {
  margin-left: 20px;
  width: 30vw;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--neutralBlack);
}
.alingContainer {
  display: flex;
  align-items: center;
}
/* a:active {
    background-color: yellow;
    color:black
  } */

.nav-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: -8rem;
  background-color: var(--pearlWhite);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdowntext {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  color: var(--black);
}
.dropdown-content a {
  color: var(--black);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--powderWhite);
  color: var(--crimsonPink);
  border-radius: 5px;
}
.nav-dropdown:hover .dropdown-content {
  display: block;
}
.search-field {
  width: 24rem;
  padding: 0.3rem 2rem;
  border: 1px solid #c1c1c1;
  border-radius: 5px;
  font-size: 1rem;
  color: var(--neutralBlack);
}
.navbar-cartContainer {
  display: flex;
  margin-right: 1rem;
  align-items: center;
  color: var(--neutralBlack);
  gap: 0.3rem;
  transition: 0.2s ease-in;
}
.navbar-cartContainer:hover {
  color: var(--crimsonPink);
  scale: 1.05;
}
.navbar-searchResultBox {
  width: 24rem;
  height: auto;
  max-height: 15rem;
  position: absolute;
  background-color: var(--powderWhite);
  z-index: 100;
  top: 2.5rem;
  border-radius: 5px;
  overflow-y: scroll;
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.navbar-searchResultItem {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}
.navbar-searchResultItem:hover {
  background-color: var(--cloudGray);
}
.navbar-searchResultItemName {
  font-size: 1rem;
  font-weight: 500;
}
.navbar-searchResultItemCategory {
  font-size: 0.75rem;
  font-weight: 400;
}
.navbar-location {
  margin-left: 3rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  /* gap: -0.15rem; */
}
.navbar-deliverTo {
  color: rgb(116, 114, 114);
  font-size: 0.8rem;
  font-weight: 500;
}
.navbar-locationText {
  color: var(--ashGray);
  font-size: 1rem;
  font-weight: 600;
}
