.orderdetails-mainContainer {
  max-width: 940px;
  height: 100%;
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 11rem;
}
.orderdetails-title {
  font-size: 2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--neutralBlack);
}
.orderdetails-flexContainer {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--neutralBlack);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.orderdetails-line {
  border: 2px solid var(--neutralBlack);
}
.orderdetails-justifyContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.orderdetails-borderContainer {
  margin: 1rem 0;
  border: 1px solid var(--cloudGray);
  padding: 1rem 1rem;
  border-radius: 5px;
}
.orderdetails-borderFlexContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 2rem;
}
.orderdetails-header {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--neutralBlack);
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
}
.orderdetails-bodyText {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--neutralBlack);
  font-family: Arial, Helvetica, sans-serif;
}
.orderdetails-billJustifyContainer {
  display: flex;
  gap: 5rem;
  justify-content: space-between;
  text-transform: capitalize;
}
.orderdetails-hoverFlexContainer {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--neutralBlack);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
.orderdetails-hoverFlexContainer:hover {
  color: var(--azureBlue);
  text-decoration: underline;
}
.orderdetails-image {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
}
.orderdetails-button {
  font-size: 0.85rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
  padding: 0.25rem 0.75rem;
  background-color: var(--crimsonPink);
  border-radius: 5px;
  border: none;
  margin: 0.5rem 0;
}
.orderdetails-buttonsRight {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--crimsonPink);
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.25rem 0.75rem;
  background-color: var(--powderWhite);
  border-radius: 5px;
  border: 1px solid var(--cloudGray);
}
.orderdetails-buttonsRight:hover {
  color: var(--white);
  background-color: var(--crimsonPink);
  /* border-radius: 5px; */
  border: 1px solid var(--crimsonPink);
}
