.orderDetails-mainContainer {
  max-width: 940px;
  height: 100%;
  margin: auto;
  margin-bottom: 2rem;
  padding-top: 11rem;
  font-family: "Libre Franklin";
}
.orderDetails-title {
  font-size: 2rem;
  font-weight: 600;
  color: var(--ashGray);
}
.orderDetails-flexContainer {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--ashGray);
  display: flex;
  align-items: center;
  gap: 0.75rem;
}
.orderDetails-line {
  border: 2px solid var(--ashGray);
}
.orderDetails-justifyContainer {
  display: flex;
  /* flex-direction: column; */
  /* gap: 1rem; */
  align-items: center;
  justify-content: space-between;
}
.orderDetails-borderContainer {
  margin: 1rem 0;
  border: 1px solid var(--cloudGray);
  padding: 1rem 1rem;
  border-radius: 5px;
}
.orderDetails-borderFlexContainer {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-between; */
  gap: 2rem;
}
.orderDetails-itemsJustifyContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* align-items: center; */
  /* justify-content: space-between; */
}
.orderDetails-header {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--ashGray);
  text-transform: capitalize;
}
.orderDetails-bodyText {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--ashGray);
  font-family: "Libre Franklin";
}
.orderDetails-billJustifyContainer {
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  text-transform: capitalize;
}
.orderDetails-hoverFlexContainer {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--ashGray);
  display: flex;
  align-items: center;
  gap: 0.25rem;
  cursor: pointer;
}
.orderDetails-hoverFlexContainer:hover {
  color: var(--azureBlue);
  text-decoration: underline;
}
.orderDetails-image {
  height: 8rem;
  width: 8rem;
  object-fit: contain;
}
.orderDetails-button {
  font-size: 0.85rem;
  font-weight: 600;
  padding: 0.25rem 0.75rem;
  border-radius: 5px;
  background-color: transparent;
  color: var(--crimsonPink);
  margin: 0.5rem 0;
  border: 1px solid var(--crimsonPink);
  transition: 0.3s ease-in-out;
}
.orderDetails-button:hover {
  background-color: var(--crimsonPink);
  border: 1px solid var(--crimsonPink);
  color: var(--white);
}
.orderDetails-buttonsRight {
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--crimsonPink);
  padding: 0.25rem 0.75rem;
  background-color: var(--powderWhite);
  border-radius: 5px;
  border: 1px solid var(--cloudGray);
}
.orderDetails-buttonsRight:hover {
  color: var(--white);
  background-color: var(--crimsonPink);
  /* border-radius: 5px; */
  border: 1px solid var(--crimsonPink);
}
.orderDetails-idText {
  font-size: 0.9rem;
  font-weight: 600;
  color: var(--ashGray);
}
.orderDetails-bodyText {
  font-size: 1rem;
  font-weight: 500;
  color: var(--ashGray);
}
