.about-mainContainer {
  max-width: 1340px;
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 12rem;
  font-family: "Libre Franklin";
}
.about-detailsContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about-detailsHeader {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--ashGray);
  margin: 1rem 0rem 0 0;
}
.about-par-txt {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: var(--ashGray);
}
.about-imageMainContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 1rem auto;
}
.about-imageContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  border: 1px solid var(--powderWhite);
  background-color: var(--powderWhite);
  border-radius: 5px;
  padding: 1rem 10rem;
}
.about-description {
  font-size: 1rem;
  font-weight: 400;
  color: var(--ashGray);
}
.about-img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}

/* .connect {
  margin-top: 10px;
  color: var(--silverGray);
} */
.transparency {
  margin: 10px;
  color: var(--silverGray);
}
.par-mid {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--powderWhite);
  margin-top: 2rem;
  padding: 2rem 1rem;
  border-radius: 5px;
  /* height: 100px; */
  /* width: 100%; */
}
.ultimate {
  font-size: 1rem;
  font-weight: 600;
  color: var(--ashGray);
  text-transform: capitalize;
}
/* .pra {
  margin-top: 1.5rem;
  color: var(--neutralBlack);
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  font-family: Arial, Helvetica, sans-serif;
} */
.youtube {
  /* margin: 1rem 1rem; */
  height: 400px;
  width: 700px;
}
.about-alignCenter {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.about-knownText {
  margin-top: 1.5rem;
  /* margin-left: 1rem; */
  color: var(--neutralBlack);
  font-size: 2rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}
/* .trend-col {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
} */
