.contact-form {
  /* padding: 6.5rem 0px 20px 0px; */
  max-width: 1140px;
  margin: auto;
  padding-top: 12rem;
  margin-bottom: 2rem;
}
.contact-title {
  font-size: 3rem;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--crimsonPink);
}
.contact-titleDescription {
  font-size: 1rem;
  font-weight: 500;
  color: var(--neutralBlack);
  font-family: Arial, Helvetica, sans-serif;
}
.contact-col {
  width: 50%;
  display: flex;
  justify-content: center;
}

.row-input-col-email-text {
  width: 53%;
}
.contact-button {
  /* width: 0%; */
  cursor: pointer;
  border: none;
  background-color: var(--crimsonPink);
  color: var(--white);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 600;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
