.contact-form {
  /* padding: 6.5rem 0px 20px 0px; */
  max-width: 1140px;
  margin: auto;
  padding-top: 12rem;
  margin-bottom: 2rem;
  font-family: "Libre Franklin";
}
.contact-flexContainer {
  display: flex;
  align-items: center;
  gap: 15rem;
}
.contact-leftContainer {
  width: 35%;
}
.contact-borderContainer {
  border: 1px solid var(--cloudGray);
  background: var(--powderWhite);
  padding: 1rem 1rem;
  border-radius: 5px;
  width: 50%;
}
.contact-formTitle {
  font-size: 1rem;
  font-weight: 600;
  color: var(--crimsonPink);
}
.contact-formDescription {
  font-size: 0.9rem;
  font-weight: bold;
  color: var(--ashGray);
  margin-bottom: 1rem;
}
.contact-title {
  font-size: 3rem;
  font-weight: 600;
  color: var(--crimsonPink);
}
.contact-inputText {
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}
.contact-titleDescription {
  font-size: 1rem;
  font-weight: 500;
  color: var(--neutralBlack);
}
.contact-col {
  width: 50%;
  display: flex;
  justify-content: center;
}

.row-input-col-email-text {
  width: 53%;
}
.contact-button {
  width: 40%;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  background-color: var(--crimsonPink);
  color: var(--white);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-weight: 500;
  font-size: 1rem;
}
