.header {
  /* background-color: #006d77; */
  background-color: var(--pearlWhite);
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* padding: 20px 0px; */
  /* color: var(--neutralBlack); */
  /* height: 70px; */
  /* border-bottom: 1px solid #e3e3e3; */
  position: fixed;
  z-index: 1000000;
  width: 100%;
}
.headerFlex {
  /* background-color: var(--pearlWhite); */
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  align-items: center;
  /* padding: 20px 0px; */
  color: var(--neutralBlack);
  height: 70px;
  border-bottom: 1px solid #e3e3e3;
  /* position: fixed; */
  /* z-index: 100; */
  width: 100%;
}
.fixedContainer {
  position: fixed;
}
.sp-opt {
  margin-left: 20px;
  font-size: 16px !important;
}
.par-nav {
  font-size: 20px;
  font-weight: bold;
  font-family: "Nunito sans";
  color: var(--crimsonPink);
}
.nav_links {
  list-style: none;
}
.nav_child {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: var(--neutralBlack);
  margin-top: 1rem;
}
.nav_child li {
  padding-right: 20px;
  cursor: pointer;
  color: var(--neutralBlack);
  text-decoration: none;
}
.download {
  background: var(--crimsonPink);
  color: var(--pearlWhite);
  border-radius: 5px;
  padding: 3px 10px;
  margin-top: 5px;
}
.about {
  color: var(--neutralBlack);
}
a:link {
  color: var(--neutralBlack);
  background-color: transparent;
  text-decoration: none;
}
.inner-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 2px;
}
.email {
  position: absolute;
  margin-right: 394px;
  margin-top: 0px;
  /* left: 12; */
  /* right: 20; */
}
.input-field {
  margin-left: 20px;
  width: 30vw;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--neutralBlack);
}
.alingContainer {
  display: flex;
  align-items: center;
}
/* a:active {
    background-color: yellow;
    color:black
  } */
@media screen and (max-width: 768px) {
  .header {
    padding-left: 0px;
    display: flex;
    align-items: center;
  }
  .nav_child li {
    padding-right: 20px;
  }
}
.nav-dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 2.5rem;
  left: -8rem;
  background-color: var(--pearlWhite);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}
.dropdowntext {
  font-size: 0.95rem;
  font-weight: 500;
  font-family: "Nunito sans";
  cursor: pointer;
  color: var(--black);
}
.dropdown-content a {
  color: var(--black);
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: var(--powderWhite);
  border-radius: 5px;
}
.nav-dropdown:hover .dropdown-content {
  display: block;
}
