.profile-container {
  height: 100%;
  width: 100%;
  margin: auto;
  padding-top: 12rem;
  margin-bottom: 2rem;
}
.profile-marginContainer {
  max-width: 1340px;
  margin: auto;
  display: flex;
  gap: 2rem;
}
.profile-leftContainer {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.profile-rightContainer {
  width: 70%;
  height: 100%;
  /* border: 2px solid var(--cloudGray); */
  border-radius: 5px;
}
.profile-flexContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid var(--cloudGray);
  border-radius: 5px;
}
.profile-avatarContainer {
  width: 8rem;
  height: 8rem;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .profile-avatarContainer:hover .profile-avatarImage {
  opacity: 0.75;
}

.profile-avatarContainer:hover .middle {
  opacity: 1;
} */
.profile-avatarImage {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  transition: 0.5s ease;
  backface-visibility: hidden;
  opacity: 1;
  display: block;
  object-fit: cover;
}
.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  align-content: center;
  width: 5.5rem;
  height: 5.5rem;
  background-color: var(--neutralBlack);
  border-radius: 50%;
  display: flex;
}
.middle:hover {
  opacity: 0.5;
}
.image-upload {
  width: 5.5rem;
  height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.text {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.5rem;
  height: 5.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--white);
  font-family: Arial, Helvetica, sans-serif;
}
.profile-greeting {
  font-weight: 400;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.profile-username {
  font-weight: 500;
  font-size: 1.25rem;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}
.profile-borderContainer {
  border: 1px solid var(--cloudGray);
}
.profile-optionsContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.profile-optionsMainContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0rem;
}
.profile-optionsMainContainer:hover {
  background-color: var(--lightGray);
  border-radius: 5px;
  color: var(--neutralBlack);
  cursor: pointer;
}
.profile-optionsTitle {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 1rem;
  color: var(--coinGray);
  font-family: Arial, Helvetica, sans-serif;
}
.profile-innerOptions {
  margin-top: 0.5rem;
  width: 100%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.profile-innerOptionsText {
  font-weight: 500;
  font-size: 0.95rem;
  font-family: Arial, Helvetica, sans-serif;
}
.profile-innerContainer {
  padding: 1rem 2rem;
  position: relative;
}
.profile-header {
  font-size: 1.75rem;
  font-weight: 500;
  color: var(--neutralBlack);
  font-family: Arial, Helvetica, sans-serif;
}
.profile-inputsContainer {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  width: 100%;
}

.profile-borderlessContainer {
  display: flex;
  border: none;
  gap: 0.5rem;
}
.profile-genderContainer {
  display: flex;
  gap: 2rem;
}
.profile-gapContainer {
  padding: 1rem 0rem;
  padding-bottom: 0rem;
}
.profile-editButton {
  position: absolute;
  width: 14%;
  right: 5%;
  top: 5%;
  padding: 0.25rem 1.25rem;
  background-color: var(--crimsonPink);
  color: var(--white);
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
}
.profile-saveButton {
  width: 30%;
  background-color: var(--crimsonPink);
  color: var(--white);
  border: none;
  font-weight: 600;
  border-radius: 5px;
  padding: 0.4rem 0;
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
