.labTests-container {
  padding-top: 12rem;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  max-width: 1140px;
  margin: auto;
  margin-bottom: 2rem;
  display: flex;
  gap: 5rem;
}
.labTests-leftContainer {
  width: 65%;
}
.labTests-rightContainer {
  width: 35%;
}
.labTests-title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--neutralBlack);
}
.labTests-innerContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 1rem 0;
}
.labTests-orderTitle {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--neutralBlack);
  padding-bottom: 0.5rem;
}
.labTests-orderItems {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--ashGray);
}
.labTests-orderItemsPrice {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--ashGray);
}
.labTests-orderTotalItemsPrice {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--ashGray);
}
.labTests-viewCartButton {
  width: 100%;
  background-color: var(--crimsonPink);
  color: var(--pearlWhite);
  font-weight: 600;
  font-size: 1.1rem;
  border-radius: 5px;
  padding: 0.5rem 0;
  margin-top: 0.5rem;
  text-transform: capitalize;
}
