@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700&display=swap");

:root {
  --white: #ffffff;
  --pearlWhite: #fffefe;
  --powderWhite: #f7f6f6;

  --silverGray: #c1c1c1;
  --lightGray: #eeeeef;
  --ashGray: #5b5b5b;

  --crimsonPink: #e11960;

  --black: #000000;
  --neutralBlack: #232223;

  --azureBlue: #1c738c;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
body p {
  margin: 0;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
