@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@200;300;400;500;600;700&display=swap");

:root {
  --white: #ffffff;
  --pearlWhite: #fffefe;
  --powderWhite: #f7f6f6;

  --silverGray: #c1c1c1;
  --lightGray: #eeeeef;
  --cloudGray: #e3e3e3;
  --coinGray: #969696;
  --ashGray: #5b5b5b;

  --rosePink: #fddbe5;
  --crimsonPink: #e51c55;

  --black: #000000;
  --neutralBlack: #232223;

  --azureBlue: #1c738c;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Libre Franklin";
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body p {
  margin: 0;
}
.main-content {
  flex: 1;
}
.fullContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
