.max-w-container {
  padding-top: 10rem;
  width: 100%;
  max-width: 1340px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family: "Libre Franklin";
}
.main-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #31363d;
  margin: 1.25rem 0;
}
.main-description {
  font-size: 1rem;
  font-weight: 500;
  color: var(--ashGray);
}
.labTest-mainContainer {
  max-width: 1340px;
}

.labTest-container {
  display: flex;
  flex-direction: column;
}
.main-titleFlex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-leftText {
  display: flex;
  align-items: center;
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--azureBlue);
  cursor: pointer;
}
.main-leftText:hover {
  text-decoration: underline;
  text-decoration-color: var(--azureBlue);
}
